@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #292223 ;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}

.hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 1px;
    height: 1px;
}

/* p_title */

#product_contents{
    width: 1100px;
    margin: 0 auto;
}

.product_top{
    position: relative;
    width: 100%;
    height: 150px;
    padding-top: 10px;
}

.p_title{
    padding-top: 10px;
    height: 60px;
}

.pt{
    display: flex;
    justify-content: center;
}

.pt a{
    display: block;
    color: #333;
    width: 150px;
    height: 30px;
    text-align: center;
}

/* pd_sh */




.pd_sh{
    position: absolute;
    top: 92px;
    left: -7px;
    width: 250px;
    height: 100px;
}

.pd_field {
    border: 0;
}

.pd_field legend{
    display: none;
}


.search_product{
    margin-left: 15px;
    width: 200px;
    height: 27px;
    padding-left: 20px;
    border: solid 2px #555;
}

.btn_search{
    position: absolute;
    top: 3px;
    right: 15px;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}

.btn_search .sch_icon{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/ico_search.png);
    background-repeat:no-repeat;
    background-size: 100% auto;
    background-position: center;
    text-indent: -9999999px;
    cursor: pointer;
}


/* product_main */

.product_main{
  position: relative;
}



.Pmore{
    position: absolute;
    top: -66px;
    right: 50px;
}

.btn_Pmore{
    display: block;
    padding: 5px 10px;
    color: #fefefe;
    background-color: plum;
    border: solid 1px rgb(218, 109, 218);
    border-radius: 10px;
    cursor: pointer;
}


/* search_info */

.search_info select{
  position: absolute;
  top: -70px;
  left: 250px;
    width: 130px;
    height: 35px;
    padding: 4px 10px;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
}


/* prd_list*/


.prd_list, .bs_review{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.prd_list li , .inner_re{
  box-sizing: border-box;
  width: 31%;
  position: relative;
  margin: 0 5px;
  margin-bottom: 50px;
  overflow: hidden;
}

.prd_list li{
  border: 2px solid plum;
  border-top-width: 10px;
}

.prdImg, .description{
  margin-bottom: 15px;
}

.prdImg img{
  width: 100%;
}

.info{
  padding-left: 15px;
  margin-bottom: 15px;
}

.info a{
  font-size: 15px;
  line-height: 2em;
  color: #292223;
  font-weight: 800;
}


.price{
  font-size: 12px;
  color: #292223;
  font-weight: 400;
}
/* prev_next */


.prev_next {
    width: 100%;
    margin: 30px 0 50px 0;
}

.inner_next{
    display: flex;
    justify-content: center;  
}

.link_page , .pgN{
    margin: 0 10px;
}

.link_page a{
    display: inline-block;
    width: 20px;
    color: #555;
}

.link_page a:hover{
    text-decoration: underline;
}

.pgN a{
    display: inline-block;
    width: 30px;
    color: #555;
    padding-right: 20px;
    background-image: url(../img/page_next.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}

.pgN a:hover{
    text-decoration: underline;
}

.on a{
   text-decoration: underline;
   color: #e43530; 
}