<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cak.mapper.BoardMapper">
	<insert id="write">
		insert custumer(category, title, content, writer, pin)
		value (#{category},#{title},#{content},#{writer},
		<choose>
			<when test="category == 'notice'">
				1
			</when>
			<otherwise>
				0
			</otherwise>
		</choose>
		)
	</insert>
	
	
	<select id="list" resultType="org.cak.domain.BoardDTO">
			select *
			from(
			select @rownum:=@rownum+1 as rownum, cak.* 
			from (select @rownum:=0) as tmp,
				  custumer as cak
				  
			  <if test="keyword != null">
				    where title like concat('%',#{keyword},'%')
					or content like concat('%',#{keyword},'%')
					or writer like concat('%',#{keyword},'%')
			  </if>
			  order by pin desc, regdate desc
			) as boardList
	<![CDATA[
	 	where rownum > (#{pageNum}-1)*#{amount} 
		and rownum <= #{pageNum}*#{amount}
	]]>

	</select>
	
	<select id="detail" resultType="org.cak.domain.BoardDTO">
		select *
		from custumer
		where bno=#{bno}
	</select>
	
	<update id="modify">
		update custumer
		set title=#{title},
			content=#{content},
			category=#{category},					
			pin=<choose>
					<when test="category == 'notice'">
						1
					</when>
					<otherwise>
						0
					</otherwise>
				</choose> 
		where bno=#{bno}
	</update>
	
	<delete id="remove">
		delete from custumer
		where bno=#{bno}
	</delete>
	
	
	<select id="getTotalCount" resultType="int"> <!-- 임의로 정한 200에 대한 것 -->
		select count(*) from custumer
		<if test="keyword != null">
			where title like concat('%',#{keyword},'%')
			or content like concat('%',#{keyword},'%')
			or writer like concat('%',#{keyword},'%')
		</if>
	</select>
	
	
	<update id="cntupdate">
		update custumer
		set cnt = cnt+1
		where bno = #{bno}
	</update>
	
	
	<!-- 댓글 영역 -->
	
   <insert id="Rwrite">
      insert into reply(bno,reply,replyer)
      values(#{bno},#{reply},#{replyer})
   </insert>
   <select id="Rmodify" resultType="org.cak.domain.BoardDTO">
      select * from reply where bno=#{bno}
   </select>
   <update id="Rupdate">
      update reply
      set reply = #{reply}
      where bno = #{bno}
   </update>
   <delete id="Rremove">
      delete from reply
      where bno = #{bno}
   </delete>
	
	
</mapper>