<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cak.mapper.ProductMapper">

		
		<select id="productList" resultType="org.cak.domain.ProductDTO">
				select uuid,
						replace(uploadpath,'\\','/') uploadpath,
				        filename,
				        ptitle,
				        price,
				        regdate
				from(
				select @rownum:=@rownum+1 as rownum, pt.* 
				from (select @rownum:=0) as tmp,
					  productList as pt
					  
				  <if test="keyword != null">
					    where ptitle like concat('%',#{keyword},'%')
						or price like concat('%',#{keyword},'%')
				  </if>
				  
				<choose>
					<when test="order == 'N'.toString()">
						order by regdate desc
					</when>
					<when test="order == 'H'.toString()">
						order by price desc
					</when>
					<when test="order == 'L'.toString()">
					  	order by price 
					</when>
					<when test="order == 'G'.toString()">
						order by binary(ptitle) 
					</when>

				</choose>
				  
				) as productList
				<![CDATA[
				 	where rownum > (#{pageNum}-1)*#{amount} 
					and rownum <= #{pageNum}*9                            
				]]>
		</select>
		
		
		<select id="getTotalCount" resultType="int"> <!-- 임의로 정한 200에 대한 것 -->
			select count(*) from productList
			<if test="keyword != null">
				where ptitle like concat('%',#{keyword},'%')
				or price like concat('%',#{keyword},'%')
			</if>
			
			
		</select>
	
		<insert id="addProduct">
			insert into productList (uuid, uploadpath, filename, ptitle, price)
			values (#{uuid}, #{uploadPath}, #{fileName}, #{ptitle}, #{price})
		</insert>

</mapper>